.elements{
    display: grid;
    grid-template-columns:repeat(4,2fr);
    gap: 40px;
    /* grid-auto-rows: minmax(100px, auto);
    text-align: center; */
    padding: 40px;
    padding-left: 100px;
}

.back{
    display: block;
    background-color: black;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.back>span{
    display: none;
    background-color: blue;
    width: 200px;
    z-index: 100;
    cursor: pointer;
}

.fliped {
    transform: rotateY(180deg);
    transition: 1sec;
  }
